@font-face {
    font-family: PoltawskiNowy-Italic;
    src: url(/fonts/PoltawskiNowy-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: PoltawskiNowy;
    src: url(/fonts/PoltawskiNowy-VariableFont_wght.ttf);
}

*,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    --main-card-color1: #0b0b0b;
    --main-card-color2: #202125;
    --main-card-color3: #2a2a2a;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);
    
    min-height: 100vh;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar-container {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow: auto;
}

.navbar-link-item {
    position: relative;
    display: grid;
    height: 100%;
    font-family: PoltawskiNowy;
    font-weight: 900;
    font-size: 16pt;
    justify-items: center;
    align-content: center;
    width: auto;
    padding: 5px;
    
    --main-card-color1: #ba9923;
    --main-card-color2: #ffedaa;
    --main-card-color3: #9f8218;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gold-border-main-wrapper {
    top: 50px;
    display: flex;
    position: relative;
    margin: auto;
    width: 1100px;
    max-width: 84vw;

    flex-grow: 1;
}

.gold-border-main {
    --main-card-color1: #111111;
    --main-card-color2: #323339;
    --main-card-color3: #4f4f4f;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);
    
    padding: 25px;
    color: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    height: auto;
    width: 100%;
    flex-wrap: 1;
    position: relative;
    display: grid;
}


.gold-border-main-wrapper::before {
    content: '';
    position: absolute;
    /*  top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;   */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -2px;
    
    --main-card-color1: #ba9923;
    --main-card-color2: #ffedaa;
    --main-card-color3: #9f8218;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, right top, left bottom, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);

    /* Gold gradient border */
    border-radius: 25px;
    /* Match the rounded corners of the card */
    padding: 5px;
    /* Create the border thickness */
    pointer-events: none;
}


.flex-card-container {
    display: flex;
    flex-direction: row;
    /* Arrange items in a column */
    gap: 10px;
    /* Space between columns */
    height: auto;
    width: 100%;
}

.flex-card-sub-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: auto;
    width: 100%;
}

.flex-card-column__super-thin {
    display: flex;
    padding: 1.6%;
    width: 7%;
    height: 100%;
    gap: 25px;
    min-width: 20px;
    flex-direction: column;
}

.gold-border-item-wrapper {
    position: relative;
    margin: 0;
    display: flex;
    border-radius: 24px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.gold-border-item {
    display: grid;

    --main-card-color1: #0f2118;
    --main-card-color2: #245e4f;
    --main-card-color3: #448961;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);

    padding: 50px;
    border-radius: 24px;
    position: relative;
    z-index: 2;
    height: auto;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.gold-border-item-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    --main-card-color1: #ba9923;
    --main-card-color2: #ffedaa;
    --main-card-color3: #9f8218;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, right top, left bottom, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);

    border-radius: 25px;
    z-index: 1;
    pointer-events: none;
    margin: -2px;
}


#left-side-item-wrap {
    width: 100%;
    height: 100%;
}

#left-side-item {
    width: 100%;
    padding: 0;
    height: 100%;
}


.flex-card-column {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100%;
    gap: 50px;
    flex-direction: column;
}

#dual-card-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 260px;
    gap: 10px;
}

.dual-card {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.gold-color-circle-wrapper {
    display: flex;
    position: relative;
    width: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.gold-color-circle {
    width: 100%;
    height: 100%;
    z-index: 5;
    border-radius: 50%;
    
    --main-card-color1: #0f2118;
    --main-card-color2: #245e4f;
    --main-card-color3: #448961;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);

    position: relative;
}

.gold-color-circle-wrapper::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    
    --main-card-color1: #ba9923;
    --main-card-color2: #ffedaa;
    --main-card-color3: #9f8218;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, right top, left bottom, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);

    border-radius: 50%;
    margin: -2px;
}

.gold-color-circle-wrapper-left {
    display: flex;
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.gold-color-circle-left {
    width: 100%;
    height: 100%;
    z-index: 5;
    border-radius: 50%;
    --main-card-color1: #0f2118;
    --main-card-color2: #245e4f;
    --main-card-color3: #448961;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);
    position: relative;
}

.gold-color-circle-wrapper-left::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    
    --main-card-color1: #ba9923;
    --main-card-color2: #ffedaa;
    --main-card-color3: #9f8218;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, right top, left bottom, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);

    border-radius: 50%;
    margin: -2px;
}

.gold-border-card-wrapper {
    width: 100%;
    position: relative;
    margin: 0;
    height: 260px;
    display: flex;
    border-radius: 24px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}



.gold-border-card {
    display: grid;

    --main-card-color1: #0f2118;
    --main-card-color2: #245e4f;
    --main-card-color3: #448961;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);
    

    padding: 50px;
    border-radius: 24px;
    position: relative;
    z-index: 2;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.gold-border-card-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-45deg, #ba9923, #ffedaa);

    --main-card-color1: #ba9923;
    --main-card-color2: #ffedaa;
    --main-card-color3: #9f8218;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, right top, left bottom, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);

    border-radius: 25px;
    z-index: 1;
    pointer-events: none;
    margin: -2px;
}

.gold-border-card-wrapper:hover {
    transition: all 0.3s ease;
    border-radius: 25px;
    box-shadow: 0px 12px 24 px rgba(0, 0, 0, 0.5);
    transform: translate(-2px, -5px);
}

.gold-border-emblem-wrapper {
    width: 40px;
    height: 40px;
    z-index: 3;
    transform: translate(-33%, -33%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    position: absolute;
    border-radius: 50%;
}

.gold-border-emblem {
    width: 100%;
    height: 100%;
    z-index: 5;
    border-radius: 50%;
    --main-card-color1: #0f2118;
    --main-card-color2: #245e4f;
    --main-card-color3: #448961;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);
    position: relative;
}

.gold-border-emblem-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    
    --main-card-color1: #ba9923;
    --main-card-color2: #ffedaa;
    --main-card-color3: #9f8218;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, right top, left bottom, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);

    border-radius: 50%;
    margin: -2px;
}

.gold-button {
    
    --main-card-color1: #ba9923;
    --main-card-color2: #ffedaa;
    --main-card-color3: #9f8218;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, right top, left bottom, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);

    color: #4A7B68;
    border: none;
    border-radius: 20px;
    x: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    position: relative;
    z-index: 3;
    padding: 5px;
}

.gold-button:hover {
    
    --main-card-color1: #cbaa35;
    --main-card-color2: #fdefbe;
    --main-card-color3: #ba9a26;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, right top, left bottom, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(-45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

#gold-color-circle-pink {
    --main-card-color1: #ae2958;
    --main-card-color2: #FF85AF;
    --main-card-color3: #ffafcb;

    background: var(--main-card-color1);
    background: -moz-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, var(--main-card-color1)), color-stop(50%, var(--main-card-color2)),  color-stop(100%, var(--main-card-color3)));
    background: -webkit-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -o-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: -ms-linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    background: linear-gradient(45deg, var(--main-card-color1) 0%, var(--main-card-color2) 50%, var(--main-card-color3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-card-color1), endColorstr=var(--main-card-color3), GradientType=1);

}


@media only screen and (max-width: 920px) {
 .flex-card-sub-container {
    flex-direction: column;
 }   
 .gold-border-main {
    padding: 15px;
 }
 .flex-card-column__super-thin {
    padding: 3px;
 }
}

/* #FF85AF -- A COOL PINK */